<a href="https://colab.research.google.com/github/Rin0316/python0425/blob/main/_Rin_5_%E5%87%BD%E6%95%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

In [9]:
def swap(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [10]:
def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

num1 is 25
num2 is 31

In [17]:
# 定義函式時 使用預設參數width = 11 , height = 12
def printArea(width = 11, height = 12):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

# 函式呼叫時不帶任何參數 ==> 使用預設參數
printArea() 

# 函式呼叫時不帶參數名稱 ==> 使用位置參數
printArea(4, 2.5) 
# Positional arguments width = 4 and height = 2.5

## 函式呼叫時帶參數名稱 ==> 使用關鍵字參數(Keyword arguments)
printArea(height = 5, width = 3) 

## 函式呼叫時僅帶部分參數名稱 ==> 沒帶參數部分 使用預設參數
printArea(width = 1.2) # Default height = 12
#printArea(height = 6.2) # Default widht = 11

width: 11 	height: 12 	area: 132
width: 4 	height: 2.5 	area: 10.0
width: 3 	height: 5 	area: 15
width: 1.2 	height: 12 	area: 14.399999999999999

In [ ]:

def hello_3(greeting='Hello', name='world'): 
    print('{}, {}!'.format(greeting, name)) 

    
hello_3() 
hello_3('Greetings') 
hello_3('Greetings', 'universe')
hello_3(name='GGGGGGoood')

In [18]:
def print_params(*params): 
    print(params) 

# print_params('Testing') 

print_params(1, 2, 3) 

# return的是tuple資料型態

(1, 2, 3)

In [ ]:
def print_params_2(title, *params): 
    print(title) 
    print(params)

print_params_2('Params:', 1, 2, 3)

In [ ]:
def print_params_3(**params): 
    print(params) 

print_params_3(x=1, y=2, z=3) 

# return的是dict(字典資料型態)

In [ ]:
def print_params_4(x, y, z=3, *pospar, **keypar): 
    print(x, y, z) 
    print(pospar) 
    print(keypar) 

print_params_4(1, 2, 4, 5, 6, 7, foo=1, bar=2)

print_params_4(1, 2)

In [ ]:
params = {'name': 'Sir Simon Rattle', 'greeting': 'To my Great Conductor'}
hello_3(**params)

In [ ]:
x = 111

def f1():
    x = 222
    print(x) 

f1()
print(x)

x = 1

def increase():
    global x
    x =  x + 1
    print(x) 

increase()
print(x)
increase()
increase()
print(x)

In [ ]:
f1 = lambda x, y, z: x+2*y+3*z
print(f1(2,3,1))

In [ ]:
def myfunc(m):
    return m*m

my_list = [1, 3, 5, 7, 9]

## 使用python的map()

map(lambda x:myfunc(x), my_list)