<a href="https://colab.research.google.com/github/Rin0316/python0425/blob/main/Rin_2_%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_Type)%E5%8F%8A%E5%85%B6%E9%81%8B%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

除法

無條件捨去

取餘數

In [ ]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

判斷是否符合兩格條件

A and B

In [ ]:
x = 5
print(x > 3 and x < 10)

True

判斷是否符合其中一個條件

A or B

In [ ]:
x = 5
print(x > 3 or x < 4)

True

判斷是否為錯誤

是錯的 傳回True

是對的 傳回False

In [ ]:
x = 5
print(not(x > 3 and x < 10))

False

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

print ("0 - a =  60 = 0011 1100(二進位) ")
print ("0 - b =  13 = 0000 1101(二進位) ")
c = a & b;        # 12 = 0000 1100
print ("1 - c = a & b的值為：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c = a | b的值為：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c= a ^ b 的值為：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c = ~a的值為：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c = a << 2的值為：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c = a >> 2的值為：", c)

0 - a =  60 = 0011 1100(二進位)
0 - b =  13 = 0000 1101(二進位)
1 - c = a & b的值為： 12
2 - c = a | b的值為： 61
3 - c= a ^ b 的值為： 49
4 - c = ~a的值為： -61
5 - c = a << 2的值為： 240
6 - c = a >> 2的值為： 15

In [ ]:
x = round(5.76543, 2)
print(x)


# Round to the nearest integer:
y = round(5.76543)
print(y)

5.77
6

In [ ]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1

In [ ]:
var1 = 'Hello Python!'

print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8]) # Slicing 切片運算

var1[0]:  H
var1[1:8]:  ello Py

In [ ]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2]) # Negative Indexing

llo
Hello
llo, World!
orl

In [ ]:
str1='happy python day'
str2='    Oh!   '

str4 = str1 + str2   # 字串串接String Concatenation運算

print(str4.capitalize())

mystr = 'python'

str4.find('pyth')

Happy python day    oh!

6

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

list1[1]
list1[-2]
list1[1:3]  # 切片運算

[33, 14]

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

print(len(list1))
print(max(list1))
print(min(list1))
print(sum(list1))

6
98
12
210

In [ ]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
f = dict({'one': 1, 'three': 3}, two=2)
a == b == c == d == e == f

True

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']

In [ ]:
# key 是數字 value是小寫英文字母 97-->a  ... 122-->z
ascii_a2z = {num: chr(num) for num in range(97,123)}
ascii_a2z

{97: 'a',
 98: 'b',
 99: 'c',
 100: 'd',
 101: 'e',
 102: 'f',
 103: 'g',
 104: 'h',
 105: 'i',
 106: 'j',
 107: 'k',
 108: 'l',
 109: 'm',
 110: 'n',
 111: 'o',
 112: 'p',
 113: 'q',
 114: 'r',
 115: 's',
 116: 't',
 117: 'u',
 118: 'v',
 119: 'w',
 120: 'x',
 121: 'y',
 122: 'z'}

In [ ]:
# key 是小寫英文字母   value是 數字 a-->97  ... z-->122
alphas= []
for num in range(97,123):
    alpha = chr(num)
    alphas.append(alpha)
  
ascii_a2z = {alpha: ord(alpha) for alpha in alphas}
ascii_a2z

{'a': 97,
 'b': 98,
 'c': 99,
 'd': 100,
 'e': 101,
 'f': 102,
 'g': 103,
 'h': 104,
 'i': 105,
 'j': 106,
 'k': 107,
 'l': 108,
 'm': 109,
 'n': 110,
 'o': 111,
 'p': 112,
 'q': 113,
 'r': 114,
 's': 115,
 't': 116,
 'u': 117,
 'v': 118,
 'w': 119,
 'x': 120,
 'y': 121,
 'z': 122}